@tailwind base;
@tailwind components;
@tailwind utilities;




/* light styles */
:root {
  --primary2 : #F8A61C ; 
  --BgColor : linear-gradient(#020621, #020A2A);
  --SideBarColor : linear-gradient(#020621, #020A2A);
  --darkTextColor : #FFFFF5;
  --darkPrimary : #0C0F2C;
  --dark-light-primary: #1A1D3C;
}

.dark {
  
}

body{
  background: var(--BgColor);
}



/* font weight regular/normal */
@font-face {
  font-family: 'peyda';
  src: url('/fonts/PeydaWeb/eot/PeydaWeb-Regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/PeydaWeb/eot/PeydaWeb-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/PeydaWeb/Woff2/PeydaWeb-Regular.woff2') format('woff2'),
       url('/fonts/PeydaWeb/Woff/PeydaWeb-Regular.woff') format('woff') ;
  font-weight: 400;
  font-style: normal;
}

/* font weight medium */
@font-face {
  font-family: 'peyda';
  src: url('/fonts/PeydaWeb/eot/PeydaWeb-Medium.eot'); /* IE9 Compat Modes */
  src: url('/fonts/PeydaWeb/eot/PeydaWeb-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/PeydaWeb/Woff2/PeydaWeb-Medium.woff2') format('woff2'),
       url('/fonts/PeydaWeb/Woff/PeydaWeb-Medium.woff') format('woff') ;
  font-weight: 500;
  font-style: normal;
}

/* font weight semibold */
@font-face {
  font-family: 'peyda';
  src: url('/fonts/PeydaWeb/eot/PeydaWeb-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/PeydaWeb/eot/PeydaWeb-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/PeydaWeb/Woff2/PeydaWeb-SemiBold.woff2') format('woff2'),
       url('/fonts/PeydaWeb/Woff/PeydaWeb-SemiBold.woff') format('woff') ;
  font-weight: 600;
  font-style: normal;
}

/* font weight bold */
@font-face {
  font-family: 'peyda';
  src: url('/fonts/PeydaWeb/eot/PeydaWeb-Bold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/PeydaWeb/eot/PeydaWeb-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/PeydaWeb/Woff2/PeydaWeb-Bold.woff2') format('woff2'),
       url('/fonts/PeydaWeb/Woff/PeydaWeb-Bold.woff') format('woff') ;
  font-weight: 700;
  font-style: normal;
}






/* font weight extra bold */
@font-face {
  font-family: 'peyda';
  src: url('/fonts/PeydaWeb/eot/PeydaWeb-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/PeydaWeb/eot/PeydaWeb-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/PeydaWeb/Woff2/PeydaWeb-ExtraBold.woff2') format('woff2'),
       url('/fonts/PeydaWeb/Woff/PeydaWeb-ExtraBold.woff') format('woff') ;
  font-weight: 800;
  font-style: normal;
}




.inner-orange-shadow {
  box-shadow: inset 5px 5px 10px rgba(248, 166, 28, 0.5), inset -5px -5px 10px rgba(248, 166, 28, 0.5);
}


.container{
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}



/* slider styles */

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: visible;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}



.custom-banner-earth {
   background: center/cover no-repeat url(/earth.svg);

}

.custom-banner-wave {
   background: center/cover no-repeat url(/wave.svg);
   height: 382px;
   
}
